<div class="navbar navbar-default" ng-controller="navbarCtl">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only"> {{ pageTitle }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="" class="navbar-brand">
        <span class="divider"></span>
        <span class="text"><i class="fa fa-heartbeat" aria-hidden="true"></i> {{ pageTitle }}</span>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Entries</a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="javascript:void(0);" ng-click="logout()">Logout</a></li> -->
      </ul>
    </div>
  </div>
</div>